# Fichiers compilés Java
*.class

# Dossiers build
target/

# Fichiers spécifiques à l'IDE (IntelliJ IDEA)
.idea/
*.iml

# Logs
*.log
# Ignorer pom.xml


# Ignorer fichier tp-foyer.iml

# Fichiers système (macOS)
.DS_Store

# Dépendances locales Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Fichiers Gradle (si tu utilises Gradle)
.gradle/
build/

# Fichiers d'exécution
*.jar
*.war
*.ear
# Ignorer pom.xml


# Ignorer fichier tp-foyer.iml
tp-foyer.iml
.idea/